{{! Side navigation bar }}
<button class="nav-btn">
    <i class="fa fa-bars fa-2x"></i>
</button>
<nav class="nav-content">
    <ul class="menu-list">
        <li><a class="menu-item" href="{{@blog.url}}"><i class="fa fa-home fa-2x"></i><span>首页</span></a></li>
        <div class="contact"><i class="fa fa-comment-o"></i><span>联系我</span></div>
        <li><a class="menu-item" href="javascript:"><i class="fa fa-weixin fa-2x"></i><span>微信</span></a></li>
        <li><a class="menu-item" href="avascript:"><i class="fa fa-envelope fa-2x"></i><span>EMAIL</span></a></li>
    </ul>
</nav>