{{!< default}}

<header role="banner" class="main-header">
    <div class="wrap">
        <h1><a href="{{@blog.url}}"><i class="fa fa-angellist"></i>&nbsp;{{@blog.title}}&nbsp;<i class="fa fa-copyright"></i></a></h1>
        <hr>
    </div>
</header>

{{> "loop"}}

{{tag_cloud}}

